<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

  <property name="PATTERN"
            value="%d{HH:mm:ss.SSS} [%boldYellow(%thread)] [%highlight(%-5level)] %boldGreen(%c{36}.%M) - %boldBlue(%m%n)"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${PATTERN}</pattern>
    </encoder>
  </appender>

  <logger name="io.github.dunwu" level="DEBUG" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>
  <root level="WARN">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
