html,body {
	height: 100%;
}

body.dunwu-login-page {
	color: rgb(88, 111, 118);
	font-family: Verdana, Arial, Helvetica, sans-serif, 微软雅黑;
	font-size: 14px;
	line-height: 1.8;
	background: url(http://dunwu.test.upcdn.net/assets/images/banner-coffee.jpg) center 0px no-repeat rgb(255, 244, 230) !important;
}

.dunwu-login-page a {
	color: #399ab2;
	text-decoration: none;
}

.dunwu-login-page a:hover {
	color: #FE4165;
}

.dunwu-login-page .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 40px auto;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	position: relative;
	z-index: 1;
}

.dunwu-login-page .brand img {
	width: 100%;
}

.dunwu-login-page .card-wrapper {
	width: 400px;
}

.dunwu-login-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.dunwu-login-page .card.fat {
	padding: 10px;
}

.dunwu-login-page .card .card-title {
	margin-bottom: 30px;
}

.dunwu-login-page .form-control {
	border-width: 2.3px;
}

.dunwu-login-page .form-group label {
	width: 100%;
}

.dunwu-login-page .btn.btn-block {
	padding: 12px 10px;
}

.dunwu-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.dunwu-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.dunwu-login-page .card.fat {
		padding: 0;
	}

	.dunwu-login-page .card.fat .card-body {
		padding: 15px;
	}
}
