<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<form action="#" method="post" th:action="@{/}" th:object="${personForm}">
  <table>
    <tr>
      <td>Name:</td>
      <td><input th:field="*{name}" type="text" /></td>
      <td th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name Error</td>
    </tr>
    <tr>
      <td>Age:</td>
      <td><input th:field="*{age}" type="text" /></td>
      <td th:errors="*{age}" th:if="${#fields.hasErrors('age')}">Age Error</td>
    </tr>
    <tr>
      <td>
        <button type="submit">Submit</button>
      </td>
    </tr>
  </table>
</form>
</body>
</html>
