<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${title}">Title</title>
	<link href="../../css/bootstrap.min.css" rel="stylesheet"
				th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="http://www.thymeleaf.org"> Thymeleaf -
				Plain </a>
			<ul class="nav">
				<li><a href="home.html" th:href="@{/}"> Home </a></li>
			</ul>
		</div>
	</div>
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	<form method="post" th:action="@{/logout}">
		<input class="btn btn-primary" type="submit" value="Sign Out"/>
	</form>
</div>
</body>
</html>
