<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
  <link href="../../css/bootstrap.min.css" rel="stylesheet"
        th:href="@{/css/bootstrap.min.css}"/>
</head>
<body onload="document.f.username.focus();">
<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="http://www.thymeleaf.org"> Thymeleaf -
        Plain </a>
      <ul class="nav">
        <li><a href="home.html" th:href="@{/}"> Home </a></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <p class="alert" th:if="${param.logout}">You have been logged out</p>
    <p class="alert alert-error" th:if="${param.error}">There was an error, please try again</p>
    <h2>Login with Username and Password</h2>
    <form action="/login" method="POST" name="form" th:action="@{/login}">
      <fieldset>
        <input name="username" placeholder="Username" type="text" value=""/>
        <input name="password" placeholder="Password" type="password"/>
      </fieldset>
      <input class="btn btn-primary" id="login" type="submit"
             value="Login"/>
    </form>
  </div>
</div>
</body>
</html>
