<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>Spring Security</title>
  <link
    href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css"
    rel="stylesheet"
  />
</head>

<body style="background-color: #F1F1F1; padding-bottom: 0">
<div th:insert="~{header :: nav}"></div>
<div class="container" style="margin-top: 60px">
  <div class="row" style="margin-top: 100px">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-console"></span> Login
          </h3>
        </div>
        <div class="panel-body">
          <form method="post" th:action="@{/register}">
            <div class="form-group" style="margin-top: 30px">
              <div class="input-group col-md-6 col-md-offset-3">
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-user"></span>
                </div>
                <input
                  class="form-control"
                  id="username"
                  name="username"
                  placeholder="账号"
                  type="text"
                />
              </div>
            </div>
            <div class="form-group ">
              <div class="input-group col-md-6 col-md-offset-3">
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-lock"></span>
                </div>
                <input
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="密码"
                  type="password"
                />
              </div>
            </div>
            <div class="form-group ">
              <div class="input-group col-md-6 col-md-offset-3">
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-pencil"/>
                </div>
                <input
                  class="form-control"
                  id="nickname"
                  name="nickname"
                  placeholder="昵称"
                  type="text"
                />
              </div>
            </div>
            <br/>
            <div th:if="${param.error}">
              <p class="text-danger" style="text-align: center">
                注册失败，账号已存在！
              </p>
            </div>
            <div th:if="${param.success}">
              <p class="text-success" style="text-align: center">
                注册成功，可以登录了！
              </p>
            </div>
            <div class="form-group">
              <div class="input-group col-md-6 col-md-offset-3 col-xs-12 ">
                <button class="btn btn-primary btn-block" type="submit">
                  注册
                </button>
              </div>
            </div>
            <div class="form-group">
              <div
                class="input-group col-md-6 col-md-offset-3"
                style="text-align: center"
              >
                <a href="/login">返回登录页面</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
